@model CalBal.Models.Korisnik

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Ime"></label>
        <input asp-for="Ime" />
    </div>
    <div>
        <label asp-for="Prezime"></label>
        <input asp-for="Prezime" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Lozinka"></label>
        <input asp-for="Lozinka" type="password" />
    </div>
    <div>
        <label asp-for="DatumRodenja"></label>
        <input asp-for="DatumRodenja" type="date" />
    </div>
    <div>
        <label asp-for="Visina"></label>
        <input asp-for="Visina" />
    </div>
    <div>
        <label asp-for="Tezina"></label>
        <input asp-for="Tezina" />
    </div>
    <button type="submit">Register</button>
</form>