@model CalBal.Models.Provedbatjakt
@{
    var aktivnosti = ViewBag.Aktivnosti as List<CalBal.Models.Aktivnost>;
}
<form id="addProvedbaForm">
    <div class="form-group">
        <label>Datum</label>
        <input asp-for="Datum" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label>Aktivnost</label>
        <select asp-for="AktivnostId" class="form-control">
            @foreach (var a in aktivnosti)
            {
                <option value="@a.AktivnostId">@a.Naziv</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Trajanje (min)</label>
        <input asp-for="Trajanje" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success btn-sm">Add Activity</button>
</form>
<div id="addProvedbaResult"></div>